
/* all fonts load  */
@font-face{
   src:url(../fonts/google-font/Poppins-Bold.ttf);
   font-family: Poppins-Bold;
}
@font-face{
   src:url(../fonts/google-font/Roboto-Medium.ttf);
   font-family: Roboto-Medium;
}
@font-face{
   src:url(../fonts/google-font/BebasNeue-Regular.ttf);
   font-family: BebasNeue-Regular;
}
@font-face{
   src:url(../fonts/google-font/Cookie-Regular.ttf);
   font-family: Cookie-Regular;
}

body{
   background-color: rgba(220, 220, 220, 0.525);
}
*{
   margin: 0px;
   padding: 0px;
}
a{
   text-decoration: none;
}
.container{
   width: 90%;
   margin: 0px auto;
   /* border: 1px solid black; */
}
h1,
h2,
h3{
   font-family: Poppins-Bold;
   color: rgb(8, 17, 64);
}
p{
   font-family:  Arial, Helvetica, sans-serif;
}

/* ---------------- 
START BANNER SECTION 
------------------- */
header {
   margin-top: 50px;
   overflow: hidden;
  box-sizing: border-box;
}
.banner{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 10px;
   background-color: #242B2E;
   height: 577px;
   /* padding: 50px 0px; */
   border-radius: 30px;
}
.banner-title{
  /* border: 1px solid yellow; */
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
}
.banner-title h1{
   width: 95%;
   font-size: 4vw;
   color: white;
}
.banner-title p{
   width: 98%;
   margin: 20px 0px;
   font-size: 1.3vw;
   color: rgba(232, 221, 221, 0.945);
}
.btn-watch-Live{
   width: 28%;
   padding: 15px;
   background-color: #FF3F8C;
   color:white;
   font-size: 1.2rem;
   border-radius: 10px;
}
.btn-watch-Live a{
   color: white;
   
}
.fa-angle-right{
   /* margin-left: 5%; */
   animation: button-icon 1s linear 0s infinite alternate ;
}
.banner-image {
   /* border: 1px solid red; */
}
.banner-image img{
  width: 75.5%;
  margin-left: 10%;
  margin-top: 4%;
 
}
header:hover .banner-image img{
  animation: banner-image 4s linear infinite;

  
}


/* ---------------- 
END BANNER SECTION 
------------------- */
/* ---------------- 
START BLOG SECTION 
------------------- */
#main-content{
   margin-bottom: 100px;
   margin-top: 50px;
}
.main{
   display: grid;
   grid-template-columns: 250px repeat(1, 1fr);
   grid-gap: 20px;
}

/* ........... Side bar ..............  */
.side-bar{
   /* border: 1px solid green; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 400px;
   background-color: #242B2E;
   border-radius: 10px;
}
.side-bar a{
   padding: 15px 20px;
   width: 70%;
   background-color: white;
   margin: 10px;
   text-align: center;
   border-radius: 10px;
   font-weight: bold;
   color: black;
   font-size: 1.2vw;
   transition: 0.3s linear;
}
.side-bar a:hover{
   background-color: #FF3F8C;
   color: white;
}
/* ......... Blog ..........  */
.blogs{
   /* border: 1px solid red; */
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 2%;
}
.blog{
   border: 1px solid goldenrod;
   border-radius: 15px;
}
.blog img{
   width: 100%;
}
.blog-content{
   padding: 10px 15px;
}
.btn-blog{
   background-color: rgb(212, 234, 227);
   padding: 5px 20px;
   border-radius: 10px;
   transition: 0.4s;
   cursor: pointer;
   border: 1px solid black;
}
.btn-blog a{
   color: #242B2E;
   font-weight: bold;
   transition: 0.4s;
}
.btn-blog:hover a{
   color: white;
}
.btn-blog:hover{
   background-color: #FF3F8C;
   border: 1px solid #FF3F8C;
}
.blog-content h3{
   margin: 15px 0px;
   font-size: 1vw;
}
.icon{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   
}
.icon-align{
   margin-right: 10px;
   color: rgba(130, 134, 137, 0.727);
}




/* ---------------- 
END BLOG SECTION 
------------------- */
/* ---------------- 
START FOOTER SECTION 
------------------- */
footer{
   background-color: #1a1f21;
   /* height: 300px; */
}
.footer-content{
 padding: 100px;
}
.footer-content h3{
   text-align: center;
   color: white;
   font-weight: bold;
   font-size: 3vw;

}
.footer-content hr{
   width: 100%;
   margin: 50px auto;
   
   border: 1px solid rgb(66, 66, 66);
}
.footer-content ul{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;

}
.footer-content ul li{
   list-style: none;
   padding: 0px 30px;
}
.footer-content ul li a{
   color: #aeaaaa;
   /* font-weight: bold; */
   font-size: 1.1vw;
}




/* ---------------- 
END FOOTER SECTION 
------------------- */





/* ---------------- 
button animation set
------------------- */
@keyframes button-icon {
   0%{
      margin-left: 4%;
   }
   20%{
      margin-left: 6%;
   }
   40%{
      margin-left: 8%;
   }
   60%{
      margin-left: 10%;
   }
   80%{
      margin-left: 12%;
   }
   100%{
      margin-left: 14%;
      
   }
}

@keyframes banner-image {
   0%{
      transform: scale(1);
   }
   25%{
      transform: scale(1.1);
   }
   50%{
      transform: scale(1.2);
   }
   75%{
      transform: scale(1.1);
   }
   100%{
      transform: scale(1);
   }

   
   
}




